body {
    margin:0px;
    background-color:#a6a6a6;
}

#imagecontainer {

    margin:auto;
    background-color:#262626;
    background: -moz-linear-gradient(75deg, #262626, #29293d);
    height:45vh;
    width:100%;
    padding-top:15px;
    padding-bottom:0px; 
    padding-left:15%;
}

.pastecontainer {
    background-color:#1a1a1a;
    float:left;
    margin-right:10px;
    padding:5px;
    text-align: center;
    width: 30vh;
    height:40vh;
    font-family: monospace;
    font-size:12px;
    border-style: dotted;
    border-color:aliceblue;
    border-radius: 10px;
    border-width:1px;
    color:aqua;
    
     background-repeat: no-repeat;
     background-position: bottom
    
}

.pastecontainer:hover {
      box-shadow: 2px 1px 20px red;
    
}

#caseinfo {
    font-family: courier, sans-serif;
    font-size:20px;
    margin:auto;
    margin-top:30px;
    width:70%;
    
    border-radius: 5px;
    border-color:aliceblue;
    border-style:dotted;
    border-width:thin;
    padding:50px;
    
}

